.bentuk{
    padding: 30px 30px;
}

#tanda{
    font-size: 100px;
    font-family: 'Lucida Sans';
    text-align: center;
}

#judul{
    font-size: 30px;
    font-family: 'Lucida Sans';
    text-align: center;
}
#subjudul{
    font-size: 25px;
    font-family: 'Lucida Sans';
    text-align: center;
}


