@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.bentuk{
    padding: 30px 30px;
} 


#judul{
    font-size: 27px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:700;
    text-align: center;
}
#subjudul{
    font-size: 20px;
    font-family: 'Lucida Sans';
    text-align: center;
}


