.promosi{
    padding: 0px 16px;
   
}

.why{
    text-align: center;
}
.unggul{
    padding: 0px 16px;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #1C3547;
}