
.awal {
	font-family: 'Roboto Slab', sans-serif;
    overflow: hidden;
}

/* Basic */


a:hover {
	color: #FC3;
	text-decoration: none;
}

p {
	font-size: 14px;
	line-height: 25px;
	color: #7a7a7a;
	letter-spacing: 0.2px;
}

h4 {
	font-size: 19px;
	font-weight: 700;
	color: #31323a;
	letter-spacing: 0.25px;
}

img {
	width: 100%;
	overflow: hidden;
}

.primary-button a,
button {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
    background-color: transparent;
	display: inline-block;
	padding: 8px 20px;
	color: #535ba0;
	border: 2px solid #535ba0;
	transition: all 0.5s;
}
.primary-button a:hover,
button:hover {
	color: #fff;
	background-color: rgba(83,91,160,1);
}



/* Wrapper */

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: opener-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    min-height: 100vh;
}


/* Main */

#main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

#main > .inner {
    padding: 100px;
}

/* Banner */
.main-banner .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.main-banner .banner-content {
	background-image: url(../../images/IMG_2839.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}

.main-banner .banner-content .banner-caption {
    max-width: 450px;
	background-color: rgba(250,250,250,0.95);
	margin: 50px;
	padding: 50px;
}

.main-banner .banner-content .banner-caption h4 {
	font-size: 38px;
	font-weight: 700;
	color: #31323a;
	letter-spacing: 0.25px;
	margin: 0px;
}

.main-banner .banner-content .banner-caption em {
	font-style: normal;
	color: #535ba0;
}

.main-banner .banner-content .banner-caption span {
	font-size: 15px;
	color: #aaaaaa;
	letter-spacing: 0.5px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-banner .banner-content .banner-caption p {
	margin-bottom: 30px;
}


/* Services */

.services {
	margin-top: 100px;
    justify-content: center;
}

.services .container-fluid {
	padding-left: 13px;
	padding-right: 13px;
}

.services .col-md-4 {
	padding-left: 5px;
	padding-right: 5px;
}

.services .service-item {
	margin-bottom: 3px;
	background-color: #eaebef;
	padding: 50px;
	text-align: center;
	transition: all 0.5s;
}

.services .service-item .icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-bottom: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.5s;
}


.services .service-item:hover {
	background-color: #535ba0;
}
.services .service-item:hover h4,
.services .service-item:hover p {
	color: #fff;
}

.services .service-item h4 {
	margin-bottom: 20px;
	transition: all 0.5s;
}

.services .service-item  p {
	margin-bottom: 0px;
	transition: all 0.5s;
}

/* Top Image */

.top-image {
	margin-top: 100px;
}

.top-image .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.top-image h4 {
	margin: 30px 0px 20px 0px;
}

.top-image .primary-button {
	margin-top: 30px;
}

/* Left Image */
.left-image {
	margin-top: 100px;
}

.left-image .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.left-image .right-content {
	margin-left: 15px;
}

.left-image h4 {
	margin: 0px 0px 20px 0px;
}

.left-image .primary-button {
	margin-top: 30px;
}

/* Right Image */
.right-image {
	border-bottom: none;
	padding-bottom: 0px;
}

.right-image {
	margin-top: 100px;
}

.right-image .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.right-image .left-content {
	margin-right: 15px;
}

.right-image h4 {
	margin: 0px 0px 20px 0px;
}

.right-image .primary-button {
	margin-top: 30px;
}


/* Header */

.header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    background-color: #535ba0;
    margin: -100px -100px 100px -100px;
}

.header .logo {
    text-align: right;
    display: inline-block;	
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.header .logo a {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
	margin-right: 50px;
}
 .login button{
    margin-top: 30px;
    color: #fff;
    border: 2px solid white;
    margin-right: 40px;
    margin-left: 20px;
    
}
.login a:hover,
button:hover {
	color:  #535ba0;
	background-color: #fff;
}


/* Footer */

#footer .copyright {
	text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
}

#footer .copyright p {
	margin-bottom: 0px;
}


/* Menu */
.menu {
	margin-top: 50px;
}

.menu ul {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-family: 400;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}

.menu ul a,
.menu ul span {
	color: #fff;
    border-bottom: 0;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0px;
}
.menu ul li ul a,
.menu ul li ul span {
    padding: 10px 0px;
}

.menu ul a:hover,
.menu ul span:hover {
    color: #FFB830;
}

.menu ul a.opener,
.menu ul span.opener {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: relative;
}

.menu ul a.opener:before,
.menu ul span.opener:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.menu ul a.opener:before,
.menu ul span.opener:before {
    -moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    color: #fff;
    /* content: '\f078'; */
    position: absolute;
    right: 0;
}

.menu ul a.opener:hover:before,
.menu ul span.opener:hover:before {
    color: #FFB830;
}

.menu ul a.opener.active + ul,
.menu ul span.opener.active + ul {
    display: block;
}

.menu ul a.opener.active:before,
.menu ul span.opener.active:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu > ul > li {
    border-top: solid 1px #1a1b20;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

.menu > ul > li > ul {
    color: #9fa3a6;
    /* display: none; */
    margin: 0.5em 0 1.5em 0;
    padding-left: 1em;
}

.menu > ul > li > ul a,
.menu > ul > li > ul span {
    font-size: 13px;
}

.menu > ul > li > ul > li {
    margin: 0.125em 0 0 0;
    padding: 0.125em 0 0 0;
}

.menu > ul > li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}