.contact-us{ 
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
/* Find Us */

.find-us {
	margin-top: 100px;
}

.find-us p {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.find-us h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.find-us .left-content {
	margin-left: 30px;
}


.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 400;
	color: #1e1e1e;
	margin-bottom: 15px;
}

.latest-products .section-heading a {
	float: right;
	margin-top: -35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #f33f3f;
}
.latest-products .section-heading a {
    float: none;
    margin-top: 0px;
    display: block;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .find-us #map {
        margin-bottom: 30px;
    }
    .best-features .left-content {
        margin-bottom: 30px;
    }
    .find-us .left-content {
		margin-left: 0px;
	}
}

.find-us .left-content {
	margin-left: 30px;
}

ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}
ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background-color: #eee;
	color: #121212;
	font-size: 18px;
	text-align: center;
	transition: all .3s;
}
ul.social-icons li a:hover {
	background-color: #f33f3f;
	color: #fff;
}
.team-member .thumb-container .hover-effect .hover-content ul.social-icons li a:hover {
	background-color: #fff;
	color: #f33f3f;
}