.slide {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    height: 100%;
    
}
.grup{
    background-color:red;
    width: auto;
    height: 500px;
}

.gambar{
    width: 800px;
    height: 400px;
}

