.Navbar{
  color: #828893;
  font-size: 16px;
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 28px 2px rgb(61 61 61 / 12%);
}

.list{
  color: #828893;
  font-size: 16px;
  margin: 0px 0px;
}

.Judul{
    float: none;
    font-style: italic;
    font-weight: bold;
}
a {

}
.logosd{
  text-align: center;
  color: black;
  width: 50px;
  height: 50px;
  padding: 5px 0px;
  margin: 0px 16px 0px 0px;
}

.menu{
  font-size: 18px;
  font-weight: 400;

}

  

Button.btn-orange{
    padding: 3px 10px;
    background-color: #e54545;
    color: #fff;
    border: 2px solid #e54545;
    border-radius: none;
}
 
